#post-item-container {
    width: 80%;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid black;
}

.child {
    padding: 5px;
}

.image {
    text-align: center;
}

.image img {
    max-width: 600px;
    max-height: 600px;
}